body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.verification ul {
  list-style-type: none;
}
.autoVerification {
  width: 25px;
  height: 25px;
}
.userPanel ul {
  list-style-type: none;
}
.redText {
  color: red;
}
.redBorder {
  border: 1px solid red;
}